name: flutter_training_stats_apps
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.0

dependencies:
  fl_chart: ^1.1.1
  flutter:
    sdk: flutter
  get_it: ^9.2.1
  intl: ^0.20.2
  sqflite: ^2.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
